<add-to-calendar-button
  name="[Reminder] Test the Add to Calendar Button"
  startDate="2023-05-26"
  startTime="10:15"
  endTime="23:30"
  timeZone="America/Los_Angeles"
  location="World Wide Web"
  description="Check out the maybe easiest way to include Add to Calendar Buttons to your web projects:[br]→ [url]https://add-to-calendar-button.com/"
  options="'Apple','Google','iCal','Outlook.com','Microsoft 365','Microsoft Teams','Yahoo'"
  lightMode="bodyScheme"
></add-to-calendar-button>

<br>
Example 7: Inline Button

<add-to-calendar-button
  name="[Reminder] Test the Add to Calendar Button"
  startDate="2023-05-26"
  startTime="10:15"
  endTime="23:30"
  timeZone="America/Los_Angeles"
  location="World Wide Web"
  description="Check out the maybe easiest way to include Add to Calendar Buttons to your web projects:[br]→ [url]https://add-to-calendar-button.com/"
  options="'Apple','Google','iCal','Outlook.com','Yahoo'"
  label="Click me hard!"
  inline
  listStyle="modal"
  lightMode="bodyScheme"
></add-to-calendar-button>

<br> 
Example 9: Splitting a button
<br> 

<add-to-calendar-button
  name="[Reminder] Test the Add to Calendar Button"
  startDate="2023-05-26"
  startTime="10:15"
  endTime="23:30"
  timeZone="America/Los_Angeles"
  description="Check out the maybe easiest way to include Add to Calendar Buttons to your web projects:[br]→ [url]https://add-to-calendar-button.com/"
  options="'Apple','Google','iCal','Outlook.com','Yahoo'"
  buttonsList
  hideTextLabelButton
  buttonStyle="round"
  lightMode="bodyScheme"
></add-to-calendar-button>

<br> 

<add-to-calendar-button
  name="My awesome Event"
  startDate="2023-05-26"
  options="'Apple','Google','iCal'"
  startTime="10:10"
  endTime="10:40"
  timeZone="America/Los_Angeles"
  location="Fantasy Marketplace"
  buttonStyle="date"
  size="5"
  lightMode="bodyScheme"
></add-to-calendar-button>

<br> 

<add-to-calendar-button
  name="[Reminder] Test the Add to Calendar Button"
  startDate="2023-05-26"
  options="'Apple','Google','iCal'"
  buttonStyle="flat"
  hideIconList
  buttonsList
  hideBackground
  size="5"
  label="Flat and Singleton"
  lightMode="bodyScheme"
></add-to-calendar-button>

<br> 

<add-to-calendar-button
  name="[Reminder] Test the Add to Calendar Button"
  startDate="2023-05-26"
  options="'Apple','Google','iCal'"
  buttonStyle="round"
  hideIconButton
  hideBackground
  label="My custom label"
  lightMode="bodyScheme"
></add-to-calendar-button>


